* {
    font-family: Menlo, Consolas, monospace, "microsoft yahei";
}
body {
    width: 900px;
    margin: 20px auto;
}
.content {
    position: relative;
    height: 460px;
}
.clearfix:after {
    content:'';
    display: block;
    clear: both;
}
#maze-container {
    box-sizing: content-box;
    border: 2px solid #4C5469;
    overflow: hidden;
    position: absolute;
    margin: 10px;
}
.maze-block {
    display: block;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    border-bottom: 1px solid rgb(237,237,237);
    border-right: 1px solid rgb(237,237,237);
    float: left;
}
.maze-block-right { border-right: none; }
.maze-block-bottom { border-bottom: none; }
.square {
    display: block;
    width: 42px;
    height: 34px;
    background: firebrick;
    border-top: 8px solid indigo;
    position: absolute;
}


/* commander */
.commander-container {
    position: absolute;
    left: 450px;
    width: 400px;
    margin: 9px;
}
.commander-menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    color: #444;
}
.commander-menu button {
    flex-grow: 1;
    margin: 5px;
    background: #ccc;
    color: #fff;
    border: none;
    border-radius: 3px;
    line-height: 35px;
}
.commander-menu button:hover{
    background:  #2F79BA;
}

/* commander editor */
.commander {
    height: 365px;
    overflow-y: scroll;
}
.commander-lines-wrapper,
.commander-marks-wrapper,
.commander-editor {
    float: left;
    line-height: 20px;
    height: 600px;
    color: #222;
}
.commander-lines-wrapper {
    float:left;
    border-radius: 4px 0 0 4px;
    background-color: #D4D4D6;
    width: 40px;
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: default;
}
.commander-marks-wrapper {
    float: left;
    width: 20px;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    cursor: default;
    font-size: 12px;
    background-color: #F7F8F9;
    color: #aaa;
}
.commander-lines { position: relative }
.commander-lines-item { padding-right: 5px }
.commander-lines-item.error { background-color: #ea6153; }
.commander-lines-item.success { background-color: #27ae60; }
.commander-lines-item.warning { background-color: #f39c12; }
.commander-history, .commander-editor {
    font-size: 14px;
    width: calc(100% - 60px);
    box-sizing: border-box;
    border: 0;
    margin: 0;
    outline: none;
    background-color: #F7F8F9;
    resize: none;
}
.commander-history {
    border-radius: 0 4px 0 0;
    padding: 5px 5px 0 5px;
    float: left;
}
.commander-editor {
    border-radius: 0 4px 4px 0;
    padding: 0 5px 5px 5px;
}
.commander-history p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #aaa;
}
p {
    margin: 0 0 0 15px;
    font-size: 14px;
    line-height: 20px;
}
