body {
  margin: 0;
  padding: 0;
  background: #EEE;
}

#wrap {
  margin: 10px;
}


.img-col{
  float: left;
  position: relative;
  display:flex;
  flex-flow: column;
}

img{
  width:100%;
  height:auto;
}
